{% extends 'base.html.twig' %}

{% block title %}Modifier mot de passe{% endblock %}

{% block body %}
    <h1>Modifier mot de passe</h1>
    <p>Vous devez saisir votre adresse email pour modifier votre mot de passe.</p>
    <div class="form-group col-8">
        {{ form(emailForm) }}
    </div>
{% endblock %}