{% extends 'base.html.twig' %}

{% block title %}La page des figures{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Le commentaire ! ✅</h1>
        <a href="{{ path('comment_edit', {'id': comment.id}) }}">Modifier le commentaire</a>
        <p>{{ comment.content }}</p>
        <span class="date">{{ comment.createdAt|date('d/m/Y') }}</span>
        <br><br>
        <a href="{{ path('comment_remove', {'id': comment.id}) }}">Supprimer la figure</a>
    </div>
{% endblock %}
