{{ form_start(form) }}
<div class="form-group mx-auto row justify-content-center align-items-center">
    <div class="form-group col-9">
    {{ form_row(form.content, {'label': '  ', 'attr': {'placeholder': 'Laisser un commentaire...'}}) }}
    </div>
    <div class="float-none">
    <button type="submit" class="btn btn-primary"><i class="fas fa-paper-plane"></i></button>
    </div>
</div>
{{ form_end(form) }}