{{ form_start(form) }}

<div class="form-group col-5">
    {{ form_row(form.content, {'label': 'Commentaire', 'attr': {'placeholder': 'Votre commentaire...'}}) }}
</div>

<button type="submit" class="btn btn-success">Enregistrer</button>

{{ form_end(form) }}